/* tudo que for "id" em HTML, ser치 "#" em CSS (s칩 pode um elemento) */
/* tudo que for "class" em HTML, ser치 "." em CSS (pode v치rios elementos) */

body {
  background-color: #d6fde9;
  font-family: Arial, Helvetica, sans-serif;
}

#principal {
  text-align: center;
  background-color: #3c805e;
  color: white;
}

h1 {
  color: #1e402f;
}

h2 {
  color: #3c805e;
}

.basico {
  color: #3c805e;
}

.intermediario {
  color: #80793c;
}

.avancado {
  color: #803c3c;
}

.destaque {
  background-color: #c5c56070;
}